<div class="card-wrapper">
    <div *ngFor="let assignedProject of selectedUser?.assignedProjects" class="card-wrapper__item mat-elevation-z3">
        <div class="header">
            <h6>Project</h6>
            <span class="header--text">{{assignedProject?.project?.projectCode}}</span>
        </div>
        <div class="content">
            <div>
                <h5>{{assignedProject?.project?.projectName}}</h5>
                <h5>From Date : {{assignedProject?.toDate}}</h5>
                <h5>To Date : {{assignedProject?.fromDate}}</h5>
                <a>Assinee : {{selectedUser?.firstName}} {{selectedUser?.lastName}}</a>
            </div>
            <div>
                <button mat-icon-button (click)="onEditClick(assignedProject)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button class="pl-2" mat-icon-button (click)="onDeleteClick(assignedProject)">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>