<div class="flex justify-between items-center">
    <h2>Create User</h2>
    <button mat-icon-button (click)="closeModal()">
        <mat-icon>close</mat-icon>
    </button>
</div>

<!-- <perfect-scrollbar>
</perfect-scrollbar> -->
<div class="overflow-auto pt-4" [formGroup]="userForm">
    <div class="flex">
        <mat-form-field class="flex-1" appearance="outline">
            <mat-label>User Name</mat-label>
            <input matInput placeholder="User Name" formControlName="userName">
            <mat-error *ngIf="userForm?.get('userName')?.hasError('required')">This field is required</mat-error>
        </mat-form-field>
        <mat-form-field class="flex-1 pl-6" appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput placeholder="First Name" formControlName="firstName">
            <mat-error *ngIf="userForm?.get('firstName')?.hasError('required')">This field is required</mat-error>
        </mat-form-field>
    </div>
    <div class="flex">
        <mat-form-field class="flex-1" appearance="outline">
            <mat-label>lastName</mat-label>
            <input matInput placeholder="lastName" formControlName="lastName">
        </mat-form-field>
        <mat-form-field class="flex-1 pl-6" appearance="outline">
            <mat-label>middleName</mat-label>
            <input matInput placeholder="middleName" formControlName="middleName">
        </mat-form-field>
        <!-- <mat-form-field class="flex-1 pl-6" appearance="outline">
                <mat-label>Project Status</mat-label>
                <mat-select placeholder="Project Status" formControlName="projectStatus">
                    <mat-option *ngFor="let status of projectStatus" [value]="status.value">
                        {{status.viewValue}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="userForm?.get('projectStatus')?.hasError('required')">This field is required
                </mat-error>
            </mat-form-field> -->
    </div>
    <div class="flex">
        <mat-form-field class="flex-1" appearance="outline">
            <mat-label>User Email</mat-label>
            <input matInput placeholder="User Email" formControlName="userEmail">
            <mat-error *ngIf="userForm?.get('userEmail')?.hasError('required')">This field is required</mat-error>
        </mat-form-field>
        <mat-form-field class="flex-1 pl-6" appearance="outline">
            <mat-label>Contact</mat-label>
            <input matInput placeholder="Contact" formControlName="contact">
            <mat-error *ngIf="userForm?.get('contact')?.hasError('required')">This field is required</mat-error>
        </mat-form-field>
    </div>
    <div class="flex">
        <mat-form-field class="flex-1" appearance="outline">
            <mat-label>Address</mat-label>
            <input matInput placeholder="Address" formControlName="userAddress">
        </mat-form-field>
        <mat-form-field class="flex-1 pl-6" appearance="outline" *ngIf="!user">
            <mat-label>password</mat-label>
            <input matInput placeholder="password" formControlName="password">
            <mat-error *ngIf="userForm?.get('password')?.hasError('required')">This field is required</mat-error>
        </mat-form-field>
    </div>
    <div class="flex">
        <mat-form-field class="flex-1" appearance="outline">
            <mat-label>NIC</mat-label>
            <input matInput placeholder="NIC" formControlName="nic">
        </mat-form-field>
        <mat-form-field class="flex-1 pl-6" appearance="outline">
            <mat-label>Passport Id</mat-label>
            <input matInput placeholder="Address" formControlName="passportId">
        </mat-form-field>
    </div>
</div>

<div class="flex justify-end">
    <button mat-raised-button color="primary" (click)="saveUser()">{{ user ? 'Update' : 'Save' }}</button>
</div>
