<div class="auth-container">
    <div class="auth-container__auth-content">
        <div class="p-1">
            <div class="flex">
                <mat-form-field class="flex-1" appearance="outline">
                    <mat-label>User Name / Email</mat-label>
                    <input matInput placeholder="User Name / Email">
                    <!-- <mat-error *ngIf="userForm?.get('userName')?.hasError('required')">This field is required</mat-error> -->
                </mat-form-field>
            </div>
            <div class="flex">
                <mat-form-field class="flex-1" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" placeholder="Password">
                    <!-- <mat-error *ngIf="userForm?.get('firstName')?.hasError('required')">This field is required</mat-error> -->
                </mat-form-field>
            </div>
        </div>
        <div class="flex">
            <button mat-raised-button class="ml-1">Login</button>
            <button mat-raised-button class="ml-1" (click)="openModal()">Register</button>
            <button mat-raised-button class="ml-1">Forget Password</button>
            <button mat-raised-button class="ml-1">Login Via Google</button>
        </div>
    </div>
    <div class="auth-container__background"></div>
</div>