<div class="flex justify-between items-center">
    <h2>Add Skills For Resource</h2>
    <button mat-icon-button (click)="closeModal()">
        <mat-icon>close</mat-icon>
    </button>
</div>

<div class="flex mt-2" [formGroup]="skillAssignFormGroup">
    <ng-select [multiple]="true" class="w-1/2" name="resource" id="resource" placeholder="Select Skill"
        formControlName="skill" (change)="onSkillSelection()">
        <ng-option *ngFor="let skill of skills" [value]="skill">{{skill.skillName}}</ng-option>
    </ng-select>

    <!-- <div class="w-1/4">
        <ratings [rating]="currentRating" (ratingUpdated)="updatedRating($event)"></ratings>
    </div> -->
</div>

<!-- {{skillAssignFormGroup?.get('skill')?.value |json}} -->

<div class="outer-div pt-8">
    <div class="grid-wrapper w-full">
        <ag-grid-angular #agGrid style="width: 100%; height: 100%;" id="myGrid" class="ag-theme-alpine"
            [columnDefs]="columnDefs" [defaultColDef]="defaultColDef" [rowData]="rowData"
            (gridReady)="onGridReady($event)">
        </ag-grid-angular>
    </div>
</div>

<!-- <div class="flex justify-end">
    <button mat-raised-button color="primary" (click)="saveSkillAssessment()">{{ skill ? 'Update' : 'Save' }}</button>
</div> -->