<div class="pr-6">
    <div class="flex justify-between items-center">
        <h2>Add Skills For Resource</h2>
        <button mat-icon-button (click)="closeModal()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div [formGroup]="skillAssignFormGroup">
        <div class="flex mt-2">
            <ng-select class="w-1/2" name="resource" id="resource" placeholder="Select Skill" formControlName="skill"
                (change)="onSkillSelection()">
                <ng-option *ngFor="let skill of skills" [value]="skill">{{skill.skillName}}</ng-option>
            </ng-select>

            <div class="rate-skill flex items-center">
                <label for="rateSkill">Rate Skill</label>
                <ratings class="margin-lb-rating" id="rateSkill" [rating]="currentRating"
                    (ratingUpdated)="updatedRating($event)">
                </ratings>
            </div>
        </div>
        <div class="flex mt-2">
            <mat-form-field class="w-full" appearance="outline">
                <mat-label>Comments</mat-label>
                <textarea id="comments" matInput placeholder="Comments" formControlName="comments"></textarea>
            </mat-form-field>
        </div>
    </div>
    <div class="flex">
        <button mat-stroked-button [disabled]="skillAssignFormGroup.invalid" (click)="onAssign()">Assign</button>
    </div>
</div>