textarea {
    resize: none !important;
}

.allocation-wrapper {
    display: grid;
    grid-template-columns: 1fr 40%;
    grid-template-rows: 40rem;
    grid-gap: 1rem;

    &__form {
        grid-column: 1 / 2;
        grid-row: 1/-1;
    }

    &__view {
        grid-column: 2/-1;
        grid-row: 1/2;
        position: relative;
        top: 2rem;   
    }
}

.date-position {
    position: relative;
    bottom: 0.4rem;
}

.save-btn-actions {
    width: 100%;
    display: flex;
    justify-content: end;
}

.empty-records{
    position: absolute;
    top: 23%;
    left: 43%;
}
