<div class="pr-6">
    <div class="flex justify-between items-center">
        <h2>Allocate Project</h2>
        <button mat-icon-button (click)="closeModal()">
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <div class="allocation-wrapper">
        <div class="allocation-wrapper__form">
            <div [formGroup]="assignedProjectFormGroup">
                <div class="flex mt-2">
                    <div class="flex flex-col w-full">
                        <ng-select name="project" id="project" placeholder="Select Project" formControlName="project"
                            [ngClass]="{'error-border': assignedProjectFormGroup.get('project')?.touched && assignedProjectFormGroup.get('project')?.errors?.required}">
                            <ng-option *ngFor="let project of projectDetails" [value]="project">{{project?.projectName}}
                            </ng-option>
                        </ng-select>
                        <mat-error class="mt-1 font-size-1"
                            *ngIf="assignedProjectFormGroup.get('project')?.touched && assignedProjectFormGroup.get('project')?.errors?.required">
                            This field is required.
                        </mat-error>
                    </div>
                </div>

                <div class="flex mt-2">
                    <div class="flex flex-col w-2/4">
                        <mat-form-field appearance="outline">
                            <mat-label>From Date</mat-label>
                            <input matInput [matDatepicker]="fromDate" placeholder="From Date"
                                formControlName="fromDate">
                            <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
                            <mat-datepicker #fromDate></mat-datepicker>
                            <mat-error
                                *ngIf="assignedProjectFormGroup.get('fromDate')?.touched && assignedProjectFormGroup.get('fromDate')?.errors?.required">
                                This field is required.
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="flex flex-col w-2/4 ml-1">
                        <mat-form-field appearance="outline">
                            <mat-label>To Date</mat-label>
                            <input matInput [matDatepicker]="picker" placeholder="To Date" formControlName="toDate">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                            <mat-error
                                *ngIf="assignedProjectFormGroup.get('toDate')?.touched && assignedProjectFormGroup.get('toDate')?.errors?.required">
                                This field is required.
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div class="flex">
                    <mat-form-field class="w-full" appearance="outline">
                        <mat-label>Comments</mat-label>
                        <textarea id="comments" matInput placeholder="Comments" formControlName="comments"></textarea>
                    </mat-form-field>
                </div>

                <!-- USER INFORMATION -->
                <div class="flex">
                    <div class="flex flex-col w-2/4">
                        <mat-form-field appearance="outline">
                            <mat-label>First Name</mat-label>
                            <input matInput placeholder="First Name" disabled [value]="selectedUser.firstName">
                        </mat-form-field>
                    </div>
                    <div class="flex flex-col w-2/4 ml-1">
                        <mat-form-field appearance="outline">
                            <mat-label>Last Name</mat-label>
                            <input matInput placeholder="Last Name" disabled [value]="selectedUser.lastName">
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex save-btn-actions">
            <button mat-stroked-button [disabled]="assignedProjectFormGroup.invalid" (click)="onProjectAssign()">
                {{isUpdate ? 'Update': 'Add'}}
            </button>

            <button mat-stroked-button class="ml-1" (click)="onClear()">
                Clear
            </button>
        </div>
        <div class="allocation-wrapper__view">
            <perfect-scrollbar *ngIf="selectedUser?.assignedProjects?.length > 0">
                <assignee-card [selectedUser]="selectedUser" (onEdit)="onEdit($event)" (afterDeletion)="afterDeletion($event)"></assignee-card>
            </perfect-scrollbar>
            <span class="empty-records" *ngIf="selectedUser?.assignedProjects && selectedUser?.assignedProjects?.length === 0">No records found</span>
        </div>
    </div>