<div class="flex">
    <div class="flex justify-between w-full">
        <span class="text-3xl uppercase">Skill Assessment</span>
    </div>
</div>

<form autocomplete="off" class="flex justify-end mt-2">
    <div class="flex">
        <button class="h-16" mat-raised-button (click)="openSkillAssignment()">
            <mat-icon>assignment_turned_in</mat-icon>
            <span class="text-xl">Assign Project</span>
        </button>
        <button class="ml-1 h-16" mat-raised-button (click)="openSkillAssignmentReport()">
            <mat-icon>summarize</mat-icon>
            <span class="text-xl">Generate Report</span>
        </button>
    </div>
</form>
<div class="skill-allocation pt-8">
    <div class="skill-allocation__grid-layout">
        <ag-grid-angular #agGrid style="width: 100%; height: 100%;" id="myGrid" class="ag-theme-material"
            [columnDefs]="columnDefs" [defaultColDef]="defaultColDef" [rowData]="rowData"
            (gridReady)="onGridReady($event)">
        </ag-grid-angular>
    </div>
    <div class="skill-allocation__form-layout">
        <assign-skill-form [assignedSkills]="rowData" (afterSkillAssignment)="afterSkillAssigned($event)"></assign-skill-form>
    </div>
</div>